@using HJCS.SageAssessment.ClientMVC.Models
@model IEnumerable<Invoice>
@{
    ViewData["Title"] = "Invoices";
}

<h3>@ViewData["Title"]</h3>
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var invoice in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(model => invoice.Number)
        </td>
        <td>
            @Html.DisplayFor(model => invoice.Date)
        </td>
        <td>
            @Html.DisplayFor(model => invoice.Customer.FullName)
        </td>
        <td>
            @Html.DisplayFor(model => invoice.Description)
        </td>
        <td>
            @Html.DisplayFor(model => invoice.Amount)
        </td>
        <td>
            @Html.DisplayFor(model => invoice.Status)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@invoice.Id">Edit</a>
        </td>
    </tr>
}
    </tbody>
    <tfoot class="@(Model.Any() ? "" : "hidden")">
        <tr>
            <td colspan="4"></td>
            <td><strong>@Model.Sum(t => t.Amount)</strong></td>
            <td colspan="2"></td>
        </tr>
    </tfoot>
</table>