@using HJCS.SageAssessment.ClientMVC.Models
@model IEnumerable<Invoice>
@{
    ViewData["Title"] = "Invoices";
}

<h3>@ViewData["Title"]</h3>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Number)</strong></div>
    <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Date)</strong></div>
    <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Customer)</strong></div>
    <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Description)</strong></div>
    <div class="col-md-1"><strong>@Html.DisplayNameFor(model => model.Amount)</strong></div>
    <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Status)</strong></div>
    <div class="col-md-1"></div>
</div>
@foreach (var invoice in Model)
{
<div class="row">
    <div class="col-md-2">@Html.DisplayFor(model => invoice.Number)</div>
    <div class="col-md-2">@Html.DisplayFor(model => invoice.Date)</div>
    <div class="col-md-2">@Html.DisplayFor(model => invoice.Customer.FullName)</div>
    <div class="col-md-2">@Html.DisplayFor(model => invoice.Description)</div>
    <div class="col-md-1">@Html.DisplayFor(model => invoice.Amount)</div>
    <div class="col-md-2">@Html.DisplayFor(model => invoice.Status)</div>
    <div class="col-md-1">
        <a asp-action="Edit" asp-route-id="@invoice.Id">Edit</a>
    </div>
</div>
}
